<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" charset="utf-8" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/css/StyleSheet.css" />
</head>
<body>
    <header>
        <h1>Text To Speech Syntheses / BCript</h1>
    </header>
    <nav>fdsfds</nav>
    <main>

        @RenderBody()
        @RenderSection("HomeContent",required:false)

    </main>

    <footer> <h4>Create by mike Cho</h4></footer>

</body>
</html>
