@page
@model Text_To_Speech_Syntheses.Pages.IndexModel
@{
    ViewData["Title"] = "Home";
}

@section HomeContent{
    <h1>Text To Speech Syntheses</h1>

    <section>
        <form name="testForm" method="post">
            <div>
                <textarea name="Text" rows="4" cols="50" >@Model.Text</textarea>
            </div>

            <br />
            <div>
                <select name="languageOption" class="btnss">
                    <option value="en-US">English</option>
                    <option value="es-ES">Spanish</option>
                    <option value="fr-FR">French</option>
                    <option value="de-DE">German</option>
                    <option value="ko-KR">Korean</option>
                </select>
            </div>

            <br/>
            <div>
                <input type="submit" value="Submit" name="Submit" class="btns">
            </div>
           
        </form>
    </section>
}